.generic-button-group {
    width: 100% auto;
    margin-bottom: 2rem;
    word-wrap: break-word;
}

.generic-button-large {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    width: 40%;
    height: max-content;
    max-height: 10%;
    background-color: dodgerblue;
    color: white;
    padding: 5% 2%;
    margin-left: 0px;
    margin-right: 5%;
    margin-bottom: 2rem;
    border: none;
    transition: all 800ms ease-out;
    cursor: pointer;
}

.button-border-radius {
    border-radius: 15px;
}

.generic-button-large:hover {
    background-color: #ff6c55eb;
    border-radius: 20px;
}