
.welcome {
    background: url("../../imgs/home-background1.png") no-repeat;
    background-size: 100% auto;
    background-attachment: scroll;
}

.welcome .himu-section-text h1 {
    border-bottom: 2px dashed dodgerblue;
}

.intro-wallpaper {
    background: url("../../imgs/wallpaper-intro.png") no-repeat;
    background-size: 100% auto;
    background-attachment: scroll;
}